.Map {
    width: 93%;
    height: 75vh;
    max-height: 100%; 
    border: 4px solid black;
    margin: auto;
}

html {
    height: 100%;

}

.Map > img {
    width: 100%;
}

.Map > select {
    margin: 15px 8px 15px 8px;
    color: #fff;
    background: #1A237E;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    padding: 5px;
    border-radius: 13px;
}