.Artist {
}

.Artist > .info > p{
    display: inline-block;
    margin: 20px auto;
    width: 50%;
    /* margin: 0 2px; */
}

.Artist > .info > p:nth-child(odd){
    text-align: left;
}

.Artist > .info > p:nth-child(even){
    text-align: right;
}

.Artist > .artistImage{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    height: calc(100vh - 400px);
    text-align: center;
    position: relative;
}
.Artist > .artistImage > h1{
    bottom: 45px;
    text-shadow: 2px 2px 4px #000000;
    left: calc(30% - 18px);
    position: absolute;
}

.Artist > .artistImage > button{
    bottom: 5px;
    left: 46%;
    position: absolute;
}

@media (min-width: 500px){
    .Artist > .artistImage > h1{
        left: calc(41%);
    }
    .Artist > .artistImage > button{
        bottom: 5px;
        left: 46%;
        position: absolute;
    }
}


.Artist > .info {
    height: 400px;
    background-color: white;
    padding: 10px;
    margin-bottom: 5px;
}

.Artist > .info > div {
    display: inline-block;
}